{% extends 'base.html.twig' %}

{% block body %}
    <img class="fullImage" src="{{ asset('bundles/app/images/ecocolocation.jpg') }}" alt="image logo">
    <div class="row">
        <div class="col s1">
            <img class="small" src="{{ asset('bundles/app/images/housebleu.png')}}" alt="">
        </div>
        <div class="col s11 rose">
            <h2 id="concept">Le concept</h2>
        </div>
    </div>
    <div class="row">
        <div class="offset-s1 col s4">
            <img class="fullImage" src="{{ asset('bundles/app/images/fleche.png') }}" alt="fleche">
        </div>
        <div class="col s7 pictos">
            <p>
                Atur aut que aut aut ligent ipsame et reptas dellorrum ium aut etur magnam que volorecabor reius
                molorum voloris a dust eicitatat aut volorae quia pre pos mod que voluptae verume verumqui secto
                quassum dolorro verum non pro occatem osanda conem faces delibus nus ad ut et veliae voluptiis qui
                ium et ex eumqui deliqui illa soluptis que dunt is atiustiam re endit etur? Quiaectem etur alibus eossim
                lignis a nonectam iusdae volo tem et eum fugiam re imus aut liquae. Evenem. Ut velecepudiae porem vel
                inti blacitiuntis mosam, nempore mquisqu iatur?
            </p>
            <p>
                Uptius quos idendit occatur amenda quia volorist eost, voluptaqui ut harum abor adit aut enis seque nos
                nonsero vitisquunt reriorem il mo imenitis di sin nem dolorum inctatecea si sum et lam, inctur suntecto
                qui voluptat int aciisi testiist, quid quia con esent, tem harum nulliqu oditasit ut et officto tatetur a sequi-
                bea porempere cupta nus aute etur?
            </p>
            <p>
                Met facima net ea dolorrunt ad moluptatibus volupta sintint quod eosaperio. Il ipsam ut raepedis quide
                vendunt iistect ectemol uptaqui corum harcimet veliquam nonsed quaturia volorer ibusdan delite et es
                volum videliquam, cusanisque sae quat voluptu sanient
            </p>
        </div>
    </div>
    <div class="row">
        <div class="offset-s9 col s3">
            <a class="btn waves-effect waves-light" href="{{ path('app_ecocolocation') }}">Explore le concept ! </a>
        </div>
    </div>
    <img class="fullImage" src="{{ asset('bundles/app/images/eco-collocation-5.jpg') }}" alt="image logo">
    <div class="row">
        <div class="col s1">
            <img class="small" src="{{ asset('bundles/app/images/housebleu.png')}}" alt="">
        </div>
        <div class="col s11 rose">
            <h2 id="concept">Suis-je une écocoloc ?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 bleu">
            <p class="texte_grand center">
                OUI ! car il n’y a pas de modèle type de coloc ;)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="offset-s1 col s10">
            <p class="noteworthy">
                Une éco-coloc c’est avant tout une envie de vivre ensemble, de créer un mode de vie le plus saint possible pour soit, la com-
                munauté et son environnement. Si vous avez des réunions de colocs, des moments de partages et de discussion, une gestion
                partagée des ressources, des synergies communes dans vos valeurs... vous faites partie du mouvement !
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s1">
            <img class="small" src="{{ asset('bundles/app/images/housebleu.png')}}" alt="">
        </div>
        <div class="col s11 rose">
            <h2 id="concept">Le mouvement des Ecocolocs</h2>
        </div>
    </div>
    <div class="row">
        <div class=" offset-s1 col s6">
            <p class="noteworthy">
                Nous souhaitons nous rencontrer pour partager et apprendre les un.es
                des autres, afin de s’entraider à la mise en place d’actions concrètes
                pour un mode de vie plus résilient.<br/>
                Ce mouvement est également l’occasion de rendre visible auprès du grand
                public des solutions pour mieux vivre ensemble dans un monde durable.
            </p>
            <h5 class="noteworthy bleu">Pourquoi un site ?</h5>
            <p class="noteworthy">
                Ce site émerge de la volonté de mettre en relation des colocations en
                transition. Il est un facilitateur, un outil pour aider à mettre en relation, de
                façon simple et libre, des colocations en transition. La création et l’utili-
                sation de cet outil se base sur des logiciels libres (d’usage).
                Un réseau, ensemble
            </p>
            <p class="noteworthy">
                Ce site est une expérimentation : il est potentiellement incomplet et amé-
                liorable. Nous souhaitons construire ce mouvement avec ses membres,
                et le site pourra évoluer avec le temps. N’hésitez pas à nous faire vos
                retours, et à nous contacter si vous souhaitez échanger sur ce projet !
            </p>
            <h5 class="noteworthy bleu">Qui se trouve derrière ?</h5>
            <p class="noteworthy">
                Une rencontre entre les colocataires de la Maison Bleue et des ci-
                toyens-es motivés-es !
            </p>
        </div>
        <div class="col s5 center margin100">
            <img class="colocImage" src="{{ asset('bundles/app/images/11884573_393346624197783_3620371679756315946_o.jpg') }}" alt="">
        </div>
        <div class="col s5 center">
            <img class="colocImage" src="{{ asset('bundles/app/images/1231025-colocation-sauve-la-plane-t-c-plainpicture-700x350.jpg') }}" alt="">
        </div>
        </div>
    </div>
{% endblock body %}