{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colocation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colocation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ colocation.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ colocation.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ colocation.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ colocation.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ colocation.ville }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ colocation.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ colocation.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('colocation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('colocation_edit', { 'id': colocation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
