{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('bundles/app/images/header_colocs.jpg') }}" alt="Les colocs">
<div class="row">
    <div class="offset-s3 col s6">
        <p class="citation">
          Si tu souhaites rejoindre le mouvement, tu peux ajouter ta coloc sur la carte en cliquant sur le crayon en haut à gauche. Tu peux aussi l’ajouter dans la section «Les colocs».
        </p>
  </div>
</div>
<div class="row">
    <div class="offset-s1 col s1">
        <img class="small" src="{{ asset('bundles/app/images/housevert.png')}}" alt="">
    </div>
    <div class="col s9">
        <h2 class="bleu">Les colocs</h2>
    </div>
</div>
    <div class="row">
        {%  for colocation in colocations %}
            {% if loop.index0 is even %}
                <div class="row">
                    <div class="offset-s1 col s2">
                    {% else %}
                        <div class="col s2">
            {% endif %}
            {% if colocation.photo %}
            <img class="smallImage" src="{{ asset('uploads/images/') }}{{colocation.photo}}" alt="photo colocation">
        </div>
        {% else %}
                <img class="smallImage" src="{{ asset('bundles/app/images/housevert.png')}}" alt="">
            </div>
        {% endif %}
        {% if loop.index0 is even %}
            <div class="row">
                <div class="col s3">
                    {% else %}
                         <div class="col s4">
                {% endif %}
           {{ colocation.nom }}
           {{ colocation.description[:100] | raw }}(...)<br/>
           <a class="btn waves-effect waves-light" href="{{ path('colocation_show', { 'id': colocation.id }) }}">Super !</a>
       </div>
            {% if loop.index0 is odd %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {#<a href="{{ path('colocation_show', { 'id': colocation.id }) }}">{{ colocation.id }}</a>#}
    {#<a href="{{ path('colocation_show', { 'id': colocation.id }) }}">show</a>#}
    {#<a href="{{ path('colocation_edit', { 'id': colocation.id }) }}">edit</a>#}

<div class="row">
    <div class="center">
        <a class="btn waves-effect waves-light" href="{{ path('colocation_new') }}">Ajouter une colocation</a>
    </div>
</div>
{% endblock %}
