{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'une nouvelle coloc</h1>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col s6">
                {{ form_label(form.nom) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="col s2">
                {{ form_label(form.nombrePersonnes) }}
                {{ form_errors(form.nombrePersonnes) }}
                {{ form_widget(form.nombrePersonnes) }}
            </div>
            <div class="col s4">
                {{ form_label(form.dateCreation) }}
                {{ form_errors(form.dateCreation) }}
                {{ form_widget(form.dateCreation) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form_label(form.adresse) }}
                {{ form_errors(form.adresse) }}
                {{ form_widget(form.adresse) }}
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                {{ form_label(form.codePostal) }}
                {{ form_errors(form.codePostal) }}
                {{ form_widget(form.codePostal) }}
            </div>
            <div class="col s6">
                {{ form_label(form.ville) }}
                {{ form_errors(form.ville) }}
                {{ form_widget(form.ville) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                Un logo / une photo ?
                {{ form_errors(form.photo) }}
                {{ form_widget(form.photo) }}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="offset-s1 col s1">
            <img class="small" src="{{ asset('bundles/app/images/housevert.png')}}" alt="">
        </div>
        <div class="col s9">
            <h2 class="bleu">Ce qu'on y fait</h2>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="row">
        <div class="offset-l2 col l1 m6 s12">
            {{ form_widget(form.jardin) }}
            {{ form_label(form.jardin) }}
            {{ form_errors(form.jardin) }}
        </div>
        <div class="col l2 m6 s12 ">
            <img class="colocImage" src="{{ asset('bundles/app/images/jardin.png')}}" alt="jardin">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.ressource) }}
            {{ form_label(form.ressource) }}
            {{ form_errors(form.ressource) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/resources.png')}}" alt="économie de ressources">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.consommation) }}
            {{ form_label(form.consommation) }}
            {{ form_errors(form.consommation) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/consommation.png')}}" alt="consommation">
        </div>
    </div>
    <div class="row">
        <div class="offset-l2 col l1 m6 s12">
            {{ form_widget(form.alimentation) }}
            {{ form_label(form.alimentation) }}
            {{ form_errors(form.alimentation) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/alimentation.png')}}" alt="alimentation">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.espace) }}
            {{ form_label(form.espace) }}
            {{ form_errors(form.espace) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/espace.png')}}" alt="mutualisation des espaces">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.communaute) }}
            {{ form_label(form.communaute) }}
            {{ form_errors(form.communaute) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/communaute.png')}}" alt="vie en communautés">
        </div>
    </div>
    <div class="row">
        <div class="offset-l2 col l1 m6 s12">
            {{ form_widget(form.quartier) }}
            {{ form_label(form.quartier) }}
            {{ form_errors(form.quartier) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/quartier.png')}}" alt="vie de quartier">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.art) }}
            {{ form_label(form.art) }}
            {{ form_errors(form.art) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/art.png')}}" alt="art et sport">
        </div>
        <div class="col l1 m6 s12">
            {{ form_widget(form.education) }}
            {{ form_label(form.education) }}
            {{ form_errors(form.education) }}
        </div>
        <div class="col l2 m6 s12">
            <img class="colocImage" src="{{ asset('bundles/app/images/education.png')}}" alt="éducation">
        </div>
    </div>

    <div class="row">
        <div class="offset-s1 col s1">
            <img class="small" src="{{ asset('bundles/app/images/housevert.png')}}" alt="">
        </div>
        <div class="col s9">
            <h2 class="bleu">Rendez-nous visite !</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                {{ form_label(form.contact) }}
                {{ form_errors(form.contact) }}
                {{ form_widget(form.contact) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form_label(form.site) }}
                {{ form_errors(form.site) }}
                {{ form_widget(form.site) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{ form_label(form.facebook) }}
                {{ form_errors(form.facebook) }}
                {{ form_widget(form.facebook) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="center">
            <input class="btn waves-effect waves-light" type="submit" title="Enregistrer" />
        </div>
    </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="center">
            <a class="btn waves-effect waves-light" href="{{ path('colocation_index') }}">Liste des colocs</a>
        </div>
    </div>

{% endblock %}
